.colores{
    color: #00DE9B;
    color: #007854;
    color: #86EDCE;
    color: #387E6E;
    color: #FFFFFF;
    color: #0FB986;
}

/*SETEO BASICO*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-size: 20px;
    list-style: none;
    text-decoration: none;
    color: #000;
}

/* Color del fondo*/
body{
    background-color: #FFFFFF;
}
/* Barra de nav*/ 
header{
    background-color: #00DE9B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    width: 100%;
    padding: 5px 10%;
    margin-bottom: 20px;
}
/* Logo de nav*/
.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}
/* end Logo de nav*/

/* lista de la nav list*/
.header .nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0 20px;

}

/* elementos de la nav*/
.header .nav-list li {
    font-weight: lighter;
    padding: 0 20px;
}

.header .nav-list a {
    font-weight: 500;
    color: #387E6E;
    text-decoration: none;
}
.header .nav-list li a:hover{
    color: #007854;
}
/*Botones de la nav list*/
.header .btn button{
    font-weight: 500;
    color: #00DE9B;
    padding: 9px 20px;
    background: #387E6E;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.header .btn button:hover{
    background-color: #FFFFFF;
    color: #387E6E;
}

/* Barra de buscandor*/
.buscador-box{
    background-color: #FFFFFF;
    display:block;
    height: 350px;
    width: 100%;
}
/*Titulo de full time reservation*/
.buscador-box h1 {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 20px;
    height: 70px;
    font-size: 35px;
    background-color: #00DE9B;
    color:#007854;
    border-radius: 30px;
}

.contenedor{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    text-align: center;
    font-size: 24px;   
}

.buscador-box .contenedor input{
    border: 0;
    border-radius: 50px;
    padding-left: 2%;
    width: 50%;
    height: 42px;
    outline: none;
    background-color: #86EDCE;
    font-size: 16px;
}

.buscador-box .btn {
    display:flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.btn-2 button{
    font-weight: 500;
    color: #387E6E;
    padding: 9px 25px;
    background: #00DE9B;
    border: 0px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btn-2 button:hover{
    background-color: #387E6E;
    color: #00DE9B;
}

/* Mas buscados gallery*/
.Restaurantes-buscados .contenedor{
    color:#007854;
}
.circle-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
}


.rest-img{
    margin-right: 30px;
}

.rest-img img {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-top: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.rest-img img:hover{
  opacity: 20%;
}

.rest-img h3 {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    color:#007854;
}

/*Linea divisora*/
.contenedor-line{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.line{
    background-color: #000;
    height: 1px;
    width: 60%;
}

/*Collage de imagenes */
.Collage-Restaurantes .contenedor{
    color:#007854;
}
.Collage .fila-img .img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    
}

.Collage .fila-img .img .img-cont{
    height: 280px;
}
.Collage .fila-img .img .img-cont img {
    width: 300px;
    height: 280px;
    margin: 2.5px;
    transition: all 0.3s ease 0s;
}

.Collage .fila-img .img .img-cont img{
    object-fit: cover;
    object-position: center center;
}

.Collage .fila-img img:hover {
    opacity:20%;
}

/*Testimonios */
.test-title{
    height: 100px;
    padding-left: 5%;
}
.test-title h3 {
    font-size: 30px;
    height: 40px;
}

.Testimonios {
    height: 500px;
}
.Testimonios .test-title h3{
    color:#007854;
}
.Testimonios .test-row h1{
    color:#007854;
}
.test-row{
    display: flex;
    justify-content:space-evenly;
}

.Testimonio .cont-test-img-text 
{
    display: flex;
}
.Testimonio .cont-test-img-text img
{
    height: 250px;
    width: 250px;
}
.Testimonio .cont-test-img-text p
{
    display: flex;
    width: 300px;
    justify-items: center;
    align-items: center;
    text-align: center;
    padding-left: 1%;
}

.Testimonio .test-client {
    height: 50px;
    font-size: 30px;
}


/*footer*/
footer{
    background-color: #00DE9B;
    height: 100%;
    width: 100%;
}

.logos-list {
    display: flex;
    justify-content:center;
    height: 30px;
}
.logos-list a{
    margin: 30px;
    position: relative;
    top: -250%;
}

.informacion{
    display: flex;
    justify-content:space-around;
}
.informacion a{
    font-size: medium;
    height: 20px;
    position: relative;
    bottom: 95%;
}

.cont-mensaje{
    height: 200px;
}
.mensaje{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}
.mensaje h1 {
    height: 20px;
    font-size: 30px;
}

@media screen and (max-width: 480px) {
    .buscador-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .buscador-box h1 {
        font-size: 25px;
    }

    .circle-gallery {
        flex-direction: column;
    }

    .Collage {
        display: flex;
        flex-direction: column;
    }

    .fila-img {
        display: flex;
        flex-direction: column;
    }
}
